.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #07080c;
  height: 100vh;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.heading {
  font-size: 30px;
  font-family: 'Roboto';
  color: #ffffff;
}

.head {
  color: white;
  font-size: 'Roboto';
  font-size: 20px;
}

.description {
  color: white;
  font-family: 'Roboto';
}

.img {
  width: 400px;
}

.accerlation-button {
  width: 120px;
  height: 30px;
  background-color: #0b69ff;
  border-width: 0px;
  margin: 10px;
  padding: 10px;
  color: white;
  border-radius: 9px;
  padding-bottom: 25px;
  cursor: pointer;
}

.brake-button {
  width: 100px;
  height: 30px;
  background-color: transparent;
  cursor: pointer;
  border: 2px solid white;
  margin: 10px;
  padding: 10px;
  color: white;
  border-radius: 9px;
  padding-bottom: 25px;
}

.buttpn-contaienr {
  display: flex;
  align-items: center;
  justify-content: center;
}
